.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.signup-container p {
    color: var(--text, #EEF9FF);
    font-family: Vogue;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1vh;
    margin-bottom: 7vh;
    /* margin-bottom: auto; */
}

.signup-main {
    border-radius: 15px;
    border: 0.5px solid var(--accent);
    background: var(--background);
    box-shadow: var(--floating-shadow);

    max-width: 60vw;
    min-height: 80vh;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.signup-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-main-text p {
    margin: 0px;
    max-width: 40%;
    color: var(--text);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    margin-bottom: 9vh;
}

.signup-main-text h3 {
    margin-top: 6vh;
    margin-bottom: 4vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4vh;
    width: 55%;
}

.signup-form-group {
    position: relative;
    width: 100%;
    /* margin: 20px 0; */
}

.signup-input {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: 2px solid var(--accent);
    border-radius: 50px;
    font-size: 16px;
    background-color: var(--background);
    transition: border-color 0.3s ease;
    color: var(--text);
}

.signup-input-container {
    box-shadow: var(--floating-shadow);
    display: flex;
    width: 100%;
    border-radius: 50px;
    border: 8px solid var(--background);
    outline: 2px solid var(--accent);
}

.signup-floating-label {
    position: absolute;
    top: -8px;
    left: 30px;
    background-color: var(--background);
    padding: 0 2px;
    color: var(--accent);
    font-size: 14px;
    pointer-events: none;
}

.signup-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 10px solid red; */
    width: 100%;
    gap: 6vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

.signup-button {
    background-color: var(--background);
    color: var(--accent);
    border: none;
    border-radius: 50px;
    box-shadow: var(--floating-shadow);
    cursor: pointer;
    padding: 10px 30px;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    transition: all 0.3s ease-in-out;
}

.signup-button:hover {
    background-color: var(--background2);
}

.signup-form-group p {
    /* position: absolute;
    left: 20px;
    top: 45px; */
    color: var(--secondary);
    font-size: 14px;
    margin: 0px;
    margin-left: 30px;
    margin-top: 10px;
}

.signup-signin-link {
    display: flex;
    /* border: 2px solid red; */
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 10vh;
    margin-right: 3vw;
}

.signup-signin-link a{
    color: var(--text);

}

/* .background-circle {
    position: absolute;
    z-index: -1;
}

.circle1 {
    top: 10%;
    left: 5%;
}

.circle2 {
    top: 20%;
    right: 10%;
}

.circle3 {
    bottom: 30%;
    left: 15%;
}

.circle4 {
    bottom: 10%;
    right: 20%;
}

.circle5 {
    top: 40%;
    left: 50%;
}

.circle6 {
    bottom: 20%;
    right: 5%;
} */