.blogdescription-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blogdescription-container p {
    color: var(--text);
    margin-left: 4px;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}