.profile-picture-container img {
    display: flex;
    aspect-ratio: 1;
    overflow: hidden;
}

.small-pfp img {
    max-height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: var(--main-shadow);
}

.profile-picture-container img:hover {
    cursor: pointer;
}