.homepage-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.homepage-blogs {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
}

.homepage-sidebar {
    width: 27vw;
    height: 100vh;
    box-shadow: var(--main-shadow);
    border-radius: 15px;
    overflow: scroll;
}

.homepage-sidebar h3{
    color: var(--accent);
}

.homepage-sidebar-featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-sidebar-topnews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-sidebar-bloglist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}


.homepage-main {
    width: 67vw;
    height: 100vh;
    box-shadow: var(--main-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    box-sizing: border-box;
    gap: 4%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2%;
    box-sizing: border-box;
    overflow-x: hidden;
}


@media (max-width: 1000px) {
    .homepage-container{
        width: 100vw;
    }
.homepage-sidebar{
    display: none;
    box-sizing: border-box;
}
.homepage-main{
    box-sizing: border-box;
    width: 95vw;
    padding: 0px 4vw;
    /* margin: 0px 30px; */
}

}