.home-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin: 2vw;
    margin-top: 6vh;
    gap: 5vw;
}

.home-sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    background: var(--background);
    box-shadow: var(--floating-shadow);
    width: 20vw;
    height: 100%;
}

.home-sidebar-container h3 {
    display: inline-block;
    color: var(--accent);
    text-align: center;
    font-family: Poppins;
    font-size: 37.2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px;
}

.home-sidebar-blog-gap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5vh;
}

.home-sidebar-featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.home-sidebar-topnews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.home-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    background: var(--background);
    box-shadow: var(--floating-shadow);
    width: 70vw;
}

.home-blog-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0px; */
    background: var(--background);
    box-sizing: border-box;
    width: 100%;
    gap: 1vw;
    margin-bottom: 4vh;
}

.home-blog-container ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--accent);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    white-space: nowrap;
}
.home-blog-container ul li a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--accent);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}
.home-blog-container ul li a:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary);
    font-family: Avenir;
    font-size: 22px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.home-blog-heading {
    display: inline-block;
    color: var(--text);
    text-align: center;
    font-family: Poppins;
    font-size: 47.2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
    /* margin-top: 35px; */
}

.home-blog-gap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5vh;
}