.new-button {
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    background-color: transparent;
    border: solid var(--accent) 1px;
    border-radius: 10px;
    font-size: 2.2rem;
    color: var(--accent);
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: var(--main-shadow);
    transition-property: border-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.new-button:hover{
    border-color: var(--primary);
    color: var(--primary);
}

.big-button-container button {
    border-radius: 50px;
    background: var(--background);
    box-shadow: var(--floating-shadow);
    color: var(--accent);
    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    outline: none;
    border: none;
    padding: 10px 30px;
    min-width: 132px;
    min-height: 53px;
    cursor: pointer;
}
.big-button-container button:hover{
    color: var(--primary);
}
.big-button-container {
    padding: 20px;
    width: fit-content;
}


.small-button-container button {
    border-radius: 50px;
    background: var(--background);
    box-shadow: var(--floating-shadow);
    color: var(--accent);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    outline: none;
    border: none;
    padding: 8px 25px;
    min-width: 108px;
    min-height: 42px;
    cursor: pointer;
}

.small-button-container {
    padding: 20px;
    width: fit-content;
}
.small-button-container button:hover{
    color: var(--primary);
}