:root[data-theme="light"] {
  --text: #020A27;
  --background: #DAE1E4;
  --primary: #1A3EF4;
  --secondary: #F877B3;
  --accent: #F64C46;
}
:root[data-theme="dark"] {
  --text: #EEF9FF;
  --background: #1E1F28;
  --primary: #A7AFC3;
  --secondary: #5B486A;
  --accent: #E14C73;
}

:root {
  color: var(--text);
  background-color: var(--background);

  
}

body {
  font-family: 'Avenir';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Avenir';
  font-weight: 700;
}

.logo {
  font-family: 'Playfair Display';
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}