.navbar {
    display: flex;
    justify-content: center;
    padding: 0 2%;
    box-shadow: var(--main-shadow);
    width: 93vw;
    align-self: center;
    height: 100px;
    position: relative;
    top: 10px;
    border-radius: 15px;
}

.navbar-first-half {
    display: flex;
    align-items: center;
    /* gap: 10%; */
    margin-right: auto;
    /* flex-grow: 1; */
    justify-content: flex-start;
    width: 90vw;
    /* gap: 2vw; */
}

.navbar-search-container{
    /* border: 2px solid red; */
    /* flex-grow: 1; */
    box-sizing: border-box;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0px 40px;
    max-width: 900px;
    /* margin-left: auto; */
    /* border: 10px solid red; */
}

.navbar-second-half {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 10%;
    gap: 30px;
}
