.blog-seeker {
    margin-top: 4vh;
    height: 3px;
    width: 98%;
    background-color: gray;
}

.blog-seeker-marker {
    height: 3px;
    background-color: var(--accent);
}

.blog-content-container {
    width: 98%;
    background-color: var(--background);
    box-shadow: var(--floating-shadow);
    height: fit-content;
    /* min-height: 100vh; */
    border-radius: 15px;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.blog-content {
    margin: 28px;
    width: 70%;
    min-height: 46.5vmin;
    background-color: var(--background);
    box-shadow: var(--floating-shadow);
    height: max-content;
    border-radius: 15px;
    padding: 3vw;
}

.blog-right-side {
    margin: 28px;
    width: 20%;
}

.blog-right-sidebar {
    width: 80%;
    background-color: var(--background);
    box-shadow: var(--floating-shadow);
    height: max-content;
    border-radius: 15px;
}

li {
    list-style: none;
    font-size: 16px;
}

.icon {
    height: 1.5rem;
    width: 4.5rem;
    font-size: 37px;
    color: var(--accent);
}

.eye {
    font-size: 40px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 1px;
    align-items: center;
}

h1 {
    margin: 0;
}

hr {
    margin: 0px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 0;
    width: 90%;
    background-color: var(--text);
    border: none;
    border: 1px solid var(--text);
    align-self: flex-start;
}

.profile-pic {
    display: flex;
    margin: 15px 0;
}

.profile-pic div {
    margin-left: 10px;
}

.profile-pic h5 {
    margin: 0 0 2px 10px;
}

.profile-pic p {
    margin: 0;
}

.profile-pic p a {
    color: var(--accent);
    font-weight: bolder;
    margin: 10px;
}

.blog-right-sidebar {
    border-left: solid var(--accent) 2px;
    padding: 15px 0;
}

.blog-right-sidebar ul {
    padding-left: 0;
    margin: 0;
    overflow: scroll;
}

.blog-right-sidebar ul li {
    padding: 20px 0 10px 30px;
    font-size: 16px;
}

.blog-right-sidebar ul li:hover {
    color: var(--accent);
}

.selected-ele {
    border-left: solid var(--accent) 4px;
    color: var(--accent);
    padding: 14px;
}

.author-detail-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.blogpage-markdown-container {
    margin: 20px 40px;
}

.blogpage-blog-username-container {
    border-radius: 25px;
    background: var(--background);
    box-shadow: var(--floating-shadow);
    width: 98%;
    height: fit-content;
    border-radius: 15px;
    margin-top: 5vh;
    margin: 10vh 5px;
    padding: 0vh 40px 10vh 40px;
    box-sizing: border-box;
    max-height: 90vh;
    overflow: scroll;
}

.blogpage-blog-username-container h3 {
    margin-left: 3vw;
}

.blogpage-blog-username-container h2 {
    background-image: linear-gradient(92deg, var(--gradient) 40.52%, var(--accent) 103%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blogpage-blog-username-text {
    display: flex;
    flex-direction: row;
}

.blogpage-blog-username-text h3 {
    margin: 50px;
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.blogpage-blog-username-text h2 {
    display: flex;
    align-items: center;
    margin: 50px;
    margin-left: 0px;
    /* margin-bottom: 0px; */
}


.blogpage-blog-username {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}